.App {
  text-align: center;
  background-color: #282c34;
  height: 100vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8vmin;
  color: white;
  padding: 2vmin;
  border: 3px solid white;
  margin: 3px;
  border-radius: 3px;
}

.App-link {
  color: #61dafb;
}

div.stash-selector {
  color: white;
  padding: 2vmin;
  font-size: 6vmin;
}
